<nav class="collapsible collapsible--expanded nav-bar">
  <div class="collapsible__header nav-bar__header">
    <img class="nav-bar__logo" src="./image/logo.svg" alt="moshify logo" />
    <svg class="icon icon--white nav-bar__toggler">
      <use xlink:href="image/sprite.svg#menu"></use>
    </svg>
  </div>
  <ul class="list collapsible__item nav-bar__list">
    <li class="nav-bar__item"><a href="#">Hosting</a></li>
    <li class="nav-bar__item"><a href="#">VPS</a></li>
    <li class="nav-bar__item"><a href="#">Domain</a></li>
    <li class="nav-bar__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
