<section class="block container feature-block">
  <header class="block__heading">
    <h2 class="block__title">Host Оn Тhe Cloud to Keep Growing</h2>
    <p class="block__text">
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
      accumsan.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="image/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3>Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
        lacus vel facilisis.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="image/easy@1x.webp 1x, image/easy@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="image/easy@1x.jpg 1x, image/easy@2x.jpg 2x"
        />
        <img
          class="feature__image"
          src="./image/easy.jpg"
          alt="easy to use feature"
        />
      </picture>
    </div>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="image/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3>Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
        lacus vel facilisis.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="image/fast@1x.webp 1x, image/fast@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="image/fast@1x.jpg 1x, image/fast@2x.jpg 2x"
        />
        <img
          class="feature__image"
          src="./image/fast.jpg"
          alt="fast website feature"
        />
      </picture>
    </div>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="image/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3>WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
        lacus vel facilisis.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="image/wordpress@1x.webp 1x, image/wordpress@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="image/wordpress@1x.jpg 1x, image/wordpress@2x.jpg 2x"
        />
        <img
          class="feature__image"
          src="./image/wordpress.jpg"
          alt="wordpress made easy feature"
        />
      </picture>
    </div>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="image/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
        lacus vel facilisis.
      </p>
      <a href="" class="link-arrow">Learn more</a>
    </div>
    <div>
      <picture>
        <source
          type="image/webp"
          srcset="image/support@1x.webp 1x, image/support@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="image/support@1x.jpg 1x, image/support@2x.jpg 2x"
        />
        <img
          class="feature__image"
          src="./image/support.jpg"
          alt="24/7 expert support feature"
        />
      </picture>
    </div>
  </article>
</section>
