<section class="block block--dark block--skewed-right showcase">
  <header class="block__heading">
    <h2 class="block__title">User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="showcase__image">
      <source
        type="image/webp"
        srcset="image/ipad@1x.webp 1x, image/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="image/ipad@1x.png 1x, image/ipad@2x.png 2x"
      />
      <img src="./image/ipad.png" alt="ipad control panel" />
    </picture>
    <ul class="list showcase__media">
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="image/sprite.svg#clock"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start & managed update</h3>
          <p class="media__content">
            Our cloud plans include easy onboarding for new and existing sites
            and managed WordPress and WooCommerce auto-updates.
          </p>
        </div>
      </li>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="image/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start & managed update</h3>
          <p class="media__content">
            Our cloud plans include easy onboarding for new and existing sites
            and managed WordPress and WooCommerce auto-updates.
          </p>
        </div>
      </li>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="image/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start & managed update</h3>
          <p class="media__content">
            Our cloud plans include easy onboarding for new and existing sites
            and managed WordPress and WooCommerce auto-updates.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
