<blockquote class="quote">
  <p class="quote__body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ratione
    sunt ipsa harum reiciendis quidem odit corporis sint vitae! Culpa!
  </p>
  <footer class="quote__author">
    <section class="media">
      <div class="media__image quote__image">
        <svg class="icon icon--primary">
          <use xlink:href="image/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="media__content quote__company">ABC Company</p>
      </div>
    </section>
  </footer>
</blockquote>
