<section class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./image/testimonial.jpg" alt="A happy customer smiling" />
      <span class="icon-container icon-container--accent-big">
        <svg class="icon icon--white">
          <use xlink:href="image/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote testimonial__content">
      <p class="quote__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus,
        reiciendis, earum dolores accusamus dolor odit sequi atque fuga
        perspiciatis quis error voluptate eius delectus vero aspernatur
        repellat? Necessitatibus, quia asperiores!
      </p>
      <footer class="quote__author">
        <section class="media">
          <div class="media__image quote__image">
            <svg class="icon icon--primary">
              <use xlink:href="image/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="media__content quote__company">ABC Company</p>
          </div>
        </section>
      </footer>
    </blockquote>
  </div>
</section>
